.container {
    background-image: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1366px;
    height: 100%;
    margin-bottom: 100px;
}

.wrapper {
    width: 1023px;
    margin: 0 auto;
    height: 100%;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 17px;
}

.logo-grid {
    display: grid;
    grid-template-columns: 53px 140px;
    grid-template-rows: 29px 18px;
    column-gap: 8px;
    row-gap: 3px;
}

.contact-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title-milan,
.title-holidays,
.contact-mail,
.contact-phone {
text-decoration: none;
}

.milan {
    font-weight: 700;
    font-size: 29px;
    text-transform: uppercase;
    color: #ffffff;
}

.holidays {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
}

.logo{
    display: block;
    grid-row: 1 / 3;
}

.logo2 {
    display: none;
}

.logo-grid:hover .milan {
    color: #F26522;
}

.logo-grid:hover .holidays {
    color: #F26522;
}

.logo-grid:hover .logo1 {
    display: none;
}

.logo-grid:hover .logo2 {
    display: block;
}

.contact-mail,
.contact-phone {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}

.contact-mail {
    margin-bottom: 19px;
}

.contact-mail:hover {
    color: #F26522;
}

.contact-phone:hover {
    color: #F26522;
}

.tours-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tours-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping {
    background-image: url(../img/milan/image.png);
}

.sightseeing {
    background-image: url(../img/milan/image\ \(1\).png);
}

.food {
    background-image: url(../img/milan/image\ 2.png);
}

.bars {
    background-image: url(../img/milan/image\ \(2\).png);
}

.art {
    background-image: url(../img/milan/image\ \(3\).png);
}

.walking {
    background-image: url(../img/milan/image\ \(4\).png);
}

.tours-photo {
    display: inline-block;
    width: 298px;
    height: 218px;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to bottom, #000000, #ffffff);
    margin-bottom: 20px;
    overflow: hidden;
}

.tours-text {
    padding-bottom: 37px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-top: 12px;
    padding-bottom: 15px;
}

.hover-block {
    width: 295px;
    height: 55px;
    background: #F26522;
    transition: margin-top 0.6s;
    justify-content: space-between;
    align-items: flex-end;
    color: #ffffff;
    margin-top: 218px;
    opacity: 0;
}

.tours-flex:hover .hover-block {
    opacity: 1;
    display: flex;
    margin-top: 163px;   
}

.hover-price {
    padding-left: 16px;
    padding-bottom: 12px;
}

.from {
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 10px;
}

.price {
    font-weight: 400;
    font-size: 20px;
}

.view {
    font-weight: 400;
    font-size: 14px;
    padding-right: 14px;
    padding-bottom: 12px;
}

.view::after {
    content: url(../img/vector/Vector\ 1.png);
    padding-left: 16px;
}

.tours-flex:hover .tours-text {
    color: #F26522;
}